.splash-img{
  width:100%;
  margin:auto;
  height:100vh;
  background-image: url("./img/splash.jpg");
  background-repeat:no-repeat;
  background-position: center;
  position: relative;
  /*float:left;*/
}

.market{
  width: 80%;
  color:white;
  background-color: rgba(255, 255, 255, 0);
  margin-top:40vh;
  position: absolute;
  margin-left: 10%;
}

header div p:nth-child(1){
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight:bold;
  text-align: center;
  border: 4px solid white;
}

.brand{
  padding: 20px;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  color:white;
  margin-left: auto;
  margin-right: auto;
}

.dual{
  width: 95%;
  margin-left:auto;
  margin-right: auto;
}
.two{
  width:50%;
  padding: 5px;
  float:left;
  display:inline-block;
}
.not-dual{

}
.anything{
  margin-top:10px;
}
.single{
  width: 95%;
  display: inline-block;
  margin-left:2.5%;
}

.one{
  width:100%;
  padding:5px;
  float:left;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.new{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 2vh;

}

section p{
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  margin-bottom: 5vh;
  color:gray;

}

.bottom{
  margin-top:10vh;
  padding-bottom:10vh;
}

.email{
  margin-left:2.5%;
  width:70%;
  height: 5vh;
  display:inline-block;
  float:left
}
.subEm{
  background-color: black;
  color:white;
  display: inline-block;
  width:20%;
  height:6vh;
  border:none;
  float:right;
  margin-right:2.5%;


}

.footer-marketplace{
  background: black;
  height:150vh;
  width:100%;
  padding-top: 15vh;

}

.invs{
  color:white;
  font-family: Helvetica;
  text-align: center;
}

.logo{
  display:inline-block;
  margin-left: 35%;
  margin-top:5vh;
  margin-bottom: 5vh;

}

footer div h2{
  font-size:28;
  margin-bottom: 2vh;

}

footer div h1{
  font-size: 14px;
  margin-bottom: 10vh;
}

footer div p{
  font-size:;
  margin-bottom: 4vh;
}

.socMedia{
  background: white;
  width: 50px;
  height: 50px;
  border: 2px gray solid;
  border-radius: 100%;

}

footer section img{
  width:50px;
  height:50px;
  border-radius:100%;
  margin:2em;
  display:inline-block;
}

.mediaButtons{
  margin-left: 10%;
  display:inline-block;
}
